footer {
  color: $neutral-1;
  background-color: $neutral-7;
  padding: {
    top: 3rem;
    bottom: 3rem;
    left: 2rem;
    right: 2rem;
  }

  .footer-logo {
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    color: $neutral-1;
  }
}
