<template id="accont-nav">
  <div id="nav-bottom">
    <h2 id="display-name" class="body-1">User DIsplay name</h3>
    <h3 class="body-2 ">Account</h3>
    <ul>
      <li class="body-2"><a class="body-2"  href="/pages/account/my-account.html">My Account</a></li>
      <li><a  class="body-2" href="/pages/account/address.html">Address</a></li>
      <li><a class="body-2"  href="/pages/account/orders.html">Orders</a></li>
      <li><a  class="body-2" href="/pages/account/wishlist.html">Wishlist</a></li>
    </ul>
  </div>
</template>
