<template id="footer-content">
  <div class="footer-top">
    <div class="logo-part">
      <h3>Amazora</h3>
      <div></div>
      <p class="caption-1">Gift and decoration store</p>
    </div>
    <div class="footer-nav">
      <a class="caption-1" href="">Home</a>
      <a class="caption-1" href="">Shop</a>
      <a class="caption-1" href="">Products</a>
      <a class="caption-1" href="">Blog </a>
      <a class="caption-1" href="">Contact Us</a>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-info">
      <p>Copyright © 2025 Amazora. All rights reserved</p>
    <div>  <a href="#">Privacy Policy</a>
      <a href="#">Terms of Use</a></div>
    </div>
    <div class="footer-social">
      <a href="#"
        ><img src="../assets/icons/footer-social/facebook.svg" alt=""
      /></a>
      <a href="#"
        ><img src="../assets/icons/footer-social/instagram.svg" alt=""
      /></a>
      <a href="#"
        ><img src="../assets/icons/footer-social/youtube.svg" alt=""
      /></a>
    </div>
  </div>
</template>
