<template id="main-header">
  <div>
    <div class="menu-left">
      <button id="menu-toggler">
        <img src="/assets/icons/menu-hamburger.svg" alt="" />
      </button>
      <h2>Amazora</h2>
    </div>
    <nav>
      <ul>
        <li>
          <a href="/index.html">Home</a>
        </li>
        <li>
          <a href="/pages/shop.html">Shop</a>
        </li>
        <li>
          <a href="/index.html">Products</a>
        </li>
        <li>
          <a href="/pages/contact-us.html">Contact us</a>
        </li>
      </ul>
    </nav>
    <div class="menu-right">
      <button class="mobile-hidden" id="search-btn">
        <img src="/assets/icons/menu-search.svg" alt="" /></button
      ><a href="#" class="mobile-hidden" id="account-btn">
        <img src="/assets/icons/menu-account.svg" alt="" /></a
      ><button>
        <img src="/assets/icons/header-bag.svg" alt="bag icon" />
      </button>
      <span id="cart-count">1</span>
    </div>
  </div>
</template>

<template id="mobile-menu">
  <div id="mobile-menu-container">
    <div id="mobile-menu-inner">
      <div id="mobile-menu-top">
        <div id="mobile-menu-logo">
          <h2>Amazora</h2>
          <button id="menu-remover">
            <img src="/assets/icons/menu-cross.svg" alt="" />
          </button>
        </div>
        <label id="search-label" for="search">
          <img src="/assets/icons/menu-search.svg" alt="" />
          <input
            class="caption-1"
            type="text"
            placeholder="Search"
            name="search"
            id="search"
          />
        </label>
      </div>
      <div id="mobile-menu-bottom">
        <button id="sign-in-btn">Sign In</button>
        <div id="mobile-menu-social">
          <a href="#"
            ><img src="/assets/icons/footer-social/facebook-dark.svg" alt=""
          /></a>
          <a href="#"
            ><img src="/assets/icons/footer-social/instagram-dark.svg" alt=""
          /></a>
          <a href="#"
            ><img src="/assets/icons/footer-social/youtube-dark.svg" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
</template>
