<template id="main-header">
  <div>
    <div class="menu-left">
      <button id="menu-toggler">
        <img src="/assets/icons/menu-hamburger.svg" alt="" />
      </button>
      <h2>Amazora</h2>
    </div>
    <nav>
      <ul>
        <li>
          <a href="/index.html">Home</a>
        </li>
        <li>
          <a href="/pages/shop.html">Shop</a>
        </li>
        <li>
          <a href="/index.html">Products</a>
        </li>
        <li>
          <a href="/pages/contact-us.html">Contact us</a>
        </li>
      </ul>
    </nav>
    <div class="menu-right">
      <button class="mobile-hidden" id="search-btn">
        <img src="/assets/icons/menu-search.svg" alt="" /></button
      ><button class="mobile-hidden" id="account-btn">
        <img src="/assets/icons/menu-account.svg" alt="" /></button
      ><button>
        <img src="/assets/icons/header-bag.svg" alt="bag icon" />
      </button>
      <span id="cart-count">1</span>
    </div>
  </div>
</template>
