<template id="product-info-container">
  <div id="product-images">
    <img src="" id="display-image" alt="" />
    <div id="product-image-thumbnail-container"></div>
  </div>
  <div id="product-description">
    <div id="review-section">
      <div class="stars">
        <img src="/assets/icons/product/Star Icon.svg" alt="" />
        <img src="/assets/icons/product/Star Icon.svg" alt="" />
        <img src="/assets/icons/product/Star Icon.svg" alt="" />
        <img src="/assets/icons/product/Star Icon.svg" alt="" />
        <img src="/assets/icons/product/Star Icon.svg" alt="" />
      </div>

      <p class="caption-2 " ><span id="review-count"></span>  reviews</p>
    </div>
    <h2 class="heading-4" id="product-title"></h2>
    <p class="body-2" id="description"></p>

    <div id="price-container">
      <h2 class="heading-6" id="discount-price"></h2>
      <h3 id="actual-price"></h3>
    </div>

    <div class="section">
      <h4 class="body-2">Measurements</h4>
      <h3  class="body-1" id="measurements"></h3>
    </div>

    <div id="call-to-action">
      <div>
        <div id="quantity-selector">
          <button id="quantity-increment">+</button>
          <input type="number" value="1"  id="quantity"/>
          <button id="quantity-decrement">-</button>
        </div>
        <button id="add-to-wishlist">
          <img src="/assets/icons/product/wishlist.svg" alt="" /> Wishlist
        </button>
      </div>
  
      <button id="add-to-cart">Add to Cart</button>
    </div>

    <div id="additional-info">
      <div>
        <h5 class="caption-2">Sku</h5>
        <p id="sku"></p>
      </div>
      <div>
        <h5 class="caption-2">Categories</h5>
        <p id="categories-info"></p>
      </div>
    </div>
  </div>
</template>
