<template id="product-card-container">
  <div class="product-card">
    <div class="top">
      <div class="left-card-top">
        <h3>new</h3>
        <h4 class="off"><span id="discount-percentage"></span>% off</h4>
      </div>
      <button id="add-to-wishlist"></button>
    </div>
    <button class="add-to-cart">Add to cart</button>
    <div class="product-inner">
      <img src="" alt="" />
      <div class="product-content">
        <div class="ratings"></div>
        <p class="body-2 name"></p>
        <p class="caption-1 price"></p>
      </div>
    </div>
  </div>
</template>
