.caption-1 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  font-family: "Inter", sans-serif;
}

.caption-2 {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
}
.heading-1 {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem; /* 100% */
  text-transform: uppercase;
}

.heading-3 {
  font-family: "Poppins", sans-serif;
  font-size: 3.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.625rem; /* 107.407% */
  letter-spacing: -0.0625rem;
}
.heading-4 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.75rem; /* 110% */
  letter-spacing: -0.025rem;
}
.heading-7 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
}

.body-1 {
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem; /* 160% */
}
.body-2 {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}
h2 {
  font-size: 1rem;
  font-weight: 500;
  @include media(tablet) {
    font-size: 1.5rem;
  }
}

.button-xs {
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}
.hairline-2 {
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.75rem;
  text-transform: uppercase;
}

.form-info {
  color: var(--neutral-04100, #6c7275);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.25rem; /* 166.667% */
}
