@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-poppins: "Poppins", sans-serif;
$primary : #000000;
$blue : #377DFF;
$green : #38CB89;
$orange: #FFAB00;
$red: #FF5630;

// neutral 
$neutral-1: #FEFEFE;
$neutral-2: #F3F5F7;
$neutral-3: #E8ECEF;
$neutral-4: #6C7275;
$neutral-5: #343839;
$neutral-6: #232627;
$neutral-7: #141718;
$black-1 : #121212;

 