@import "shared/variables";
@import "components/footer";
@import "components/button";
@import "shared/typography";
@import "components/bread-crumb";
@import "components/header";
@import "components/mobile-header";
@import "pages/auth";
@import "components/features";
@import "pages/contact-us";
@import "components/container";
@import "pages/account";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: $font-poppins;
}

section {
  padding: {
    left: 2rem;
    right: 2rem;
  }
  @include media(tablet) {
    padding: {
      left: 10rem;
      right: 10rem;
    }
  }
}
